{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Bienvenue au garage.com</h1>
        <section> {{ 'homepage.index.nav.premier_paragraphe' | trans | capitalize }} </section>
        <section> {{ 'homepage.index.nav.deuxieme_paragraphe' | trans | capitalize | nl2br }} </section>
    </div>
{% endblock %}


