{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h3><span>Espace d'administration</span></h3>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style> </style>
{% endblock %}
