    <!-- Modal -->
     
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{'voiture.index.modal.header' | trans | capitalize }}</h3>
            <p>........</p>
        </div>
        <div class="modal-body">
            
           
        </div>
        <div class="modal-footer">
                    <button class="btn btn-default btn-default pull-rigth" data-dismiss="modal"><span class="glyphicon glyphicon-remove">
                        </span> {{'voiture.index.modal.button_close' | trans | capitalize }}</button>
        </div>
      </div>
    </div>
  </div>
